{% extends 'base/base1.html' %}
{% block title%}{% if rol %}Editar{% else %}Nuevo{% endif%} Rol{% endblock%}
{% block content%}
	<form method="POST" class="form-inline justify-content-center">
    {{ form.hidden_tag() }}

        <div class="col-xl-6 col-md-6 mb-6">

            <div class="card border-left-success shadow h-100 py-2">

                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                           {% if rol %}Editar{% else %}Nuevo{% endif%} Rol
                        </div>
                        <div class="dropdown-divider"></div>

                        <div class="row justify-content-center">

                                <div class="form-group">
                                    <div class="col-lg-6 col-sm-12">
                                        {{ form.name.label }}
                                    </div>
                                    <div class="col-lg-6 col-sm-12  justify-content-center">
                                        {% if rol %}
                                            {{ form.name(class_= "form-control", value=rol.nombre) }}<br>
                                        {% else %}
                                            {{ form.name(class_= "form-control") }}<br>
                                        {% endif %}
                                        {% for error in form.name.errors %}
                                        <span style="color: red;">{{ error }}</span>
                                        {% endfor %}
    <!--                                <input type="text" name="descripcion" maxlength="100" class="form-control" required id="id_descripcion" -->
    <!--                                placeholder="Descripción" value="">-->
                                    </div>
                                </div>
                        </div>
                        <div class="row justify-content-center">

                                <div class="form-group">
                                    <div class="col-lg-6 col-sm-12">
                                        {{ form.descripcion.label }} <br>
                                    </div>
                                    <div class="col-lg-6 col-sm-12">
                                        {% if rol %}
                                        {{ form.descripcion(class_= "form-control", value=rol.descripcion) }}<br>
                                        {% else %}
                                        {{ form.descripcion(class_= "form-control") }}<br>
                                        {% endif%}
                                        {% for error in form.descripcion.errors %}
                                        <span style="color: red;">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                            </div>
                        </div>




                        <div class="dropdown-divider"></div>
                        <div class="row justify-content-center">
                            <div class="col-6 text-center">
                                {{ form.submit(class_= "btn btn-primary btn-user btn-block") }}

                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>

</form>
{% endblock%}